.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "YelpMemeGen", root_path, :class => "brand brand-shift"

      %ul.nav.pull-right
        - if can? :create, Meme
          %li= link_to "Upload a meme", '#', :id => 'upload'
          %li= link_to "Create a meme", :controller => "memes", :action => "new", :id => 'create_meme'
        - if current_user
          %li
            = link_to current_user.full_name.titleize, current_user
          %li#sign-out= link_to "Sign out", log_out_user_path(current_user)
